/* SCROLL DOWN */

.scrollDown {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    &__svg {
        width: 3rem;
    }

    &__icon {
        fill: none;
        stroke-width: 0.2rem;
        stroke: rgb(var(--color-secondary-100));
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}
