/* NAME */
.name {
	position: relative;

	&--header {
		font-family: var(--krona-one);
		font-size: 3.5rem;
		line-height: 3.5rem;
		text-transform: uppercase;

		// @media screen {
		// 	@media #{$portrait} {
		// 		@include fluidContent(font-size, 1.5rem, 2.5, 1.5, 100vw);

		// 		@media #{$mq-w1080-up} {
		// 			font-size: 2.5rem;
		// 		}
		// 	}

		// 	@media #{$landscape} {
		// 		@include fluidContent(font-size, 1.25rem, 2.5, 1.25, 100vh);

		// 		@media #{$mq-h1080-up} {
		// 			font-size: 2.5rem;
		// 		}
		// 	}
		// }
	}

	&--footer {
		// font-family: $bebas-neue;
		// color: $color-8;
		// letter-spacing: 0.125rem;
		// word-spacing: 0.3125rem;
		// margin: 0;
		// text-align: center;

		// @media screen {
		// 	@media #{$portrait} {
		// 		@include fluidContent(font-size, 1.375rem, 2, 1.375, 100vw);

		// 		@media #{$mq-w1080-up} {
		// 			font-size: 2rem;
		// 		}
		// 	}

		// 	@media #{$landscape} {
		// 		@include fluidContent(font-size, 1.625rem, 1.875, 1.625, 100vh);

		// 		@media #{$mq-h1080-up} {
		// 			font-size: 1.875rem;
		// 		}
		// 	}
		// }
	}

	&__logo {
		width: 7rem;

		path {
			fill: var(--color-secondary-100);
		}
	}

	&__link {
		display: flex;
		column-gap: 5rem;
	}

	&__background {
		position: absolute;
		top: 0;
		left: -6rem;
		z-index: -1;
		height: 8rem;
		filter: drop-shadow(0 10px 15px rgba(var(--color-rgb-black), 0.5));

		path {
			fill: var(--color-primary-200);
		}
	}
}
