/* NAME */
.name {
	&--header {
		display: inherit;
		align-items: center;
		height: 100%;
		font-family: $bebas-neue;
		color: $color-8;
		letter-spacing: 0.125rem;
		word-spacing: 0.3125rem;
		margin: {
			top: 0.625rem;
			right: 0;
			bottom: 0.625rem;
			left: 1.25rem;
		}

		@media screen {
			@media #{$portrait} {
				font-size: fluidContentPortrait(1.5, 2.5);
				margin-left: fluidContentPortrait(1.25, 2.5);

				@media #{$mq-w1080-up} {
					font-size: 2.5rem;
					margin-left: 2.5rem;
				}
			}

			@media #{$landscape} {
				font-size: fluidContentLandscape(1.25, 2.5);
				margin-left: fluidContentLandscape(1.25, 2.5);

				@media #{$mq-h1080-up} {
					font-size: 2.5rem;
					margin-left: 2.5rem;
				}
			}
		}
	}

	&--footer {
		font-family: $bebas-neue;
		color: $color-8;
		letter-spacing: 0.125rem;
		word-spacing: 0.3125rem;
		margin: 0;
		text-align: center;

		@media screen {
			@media #{$portrait} {
				font-size: fluidContentPortrait(1.375, 2);

				@media #{$mq-w1080-up} {
					font-size: 2rem;
				}
			}

			@media #{$landscape} {
				font-size: fluidContentLandscape(1.625, 1.875);

				@media #{$mq-h1080-up} {
					font-size: 1.875rem;
				}
			}
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
	}
}
