/* BUTTON */
.button {
	position: relative;
	margin: {
		top: 0;
		bottom: 0;
		left: 0;
	}
	padding: 0;
	background-color: unset;
	border: unset;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;

	@media screen {
		@media #{$portrait} {
			width: fluidContentPortrait(2.25, 3);
			height: fluidContentPortrait(2.25, 3);

			@media #{$mq-w1080-up} {
				width: 3rem;
				height: 3rem;
			}
		}

		@media #{$landscape} {
			width: fluidContentLandscape(2.25, 3);
			height: fluidContentLandscape(2.25, 3);

			@media #{$mq-h1080-up} {
				width: 3rem;
				height: 3rem;
			}
		}
	}

	&__menu {
		@extend .button;

		@media screen {
			@media #{$portrait} {
				margin-right: fluidContentPortrait(1.25, 2.5);

				@media #{$mq-w1080-up} {
					margin-right: 2.5rem;
				}
			}

			@media #{$landscape} {
				margin-right: fluidContentLandscape(1.25, 2.5);

				@media #{$mq-h1080-up} {
					margin-right: 2.5rem;
				}
			}
		}
	}

	&__modal {
		@extend .button;
		position: absolute;
		right: 2.5rem;
		bottom: 2.5rem;
		background-color: $color-2;
		border-radius: 50%;
	}
}
