/* HERO */
.hero {
	position: relative;
	z-index: -1;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;

	&__mask {
		position: absolute;
		right: 0;
		height: 100%;
	}

	// &__container {
	// 	position: absolute;
	// 	background: {
	// 		attachment: fixed;
	// 		repeat: no-repeat;
	// 		size: cover;
	// 	}
	// 	width: inherit;
	// 	height: inherit;
	// }

	// &__background {
	// 	background-position-x: 50%;
	// 	animation: {
	// 		duration: 10s;
	// 		timing-function: linear;
	// 	}

	// 	&--1 {
	// 		@extend .hero__background;
			
	// 		// animation-name: fadeInAndOut1;
	// 	}

	// 	&--2 {
	// 		@extend .hero__background;
	// 		background-image: url("https://live.staticflickr.com/65535/52507487906_e610e9fc6d_o.jpg");
	// 		// animation-name: fadeInAndOut2;
	// 	}

	// 	&--3 {
	// 		@extend .hero__background;
	// 		background: {
	// 			image: url("https://live.staticflickr.com/65535/52508039833_f775737595_o.jpg");
	// 			position-x: 20%;
	// 		}
	// 		// animation-name: fadeInAndOut3;
	// 	}

	// 	&--4 {
	// 		@extend .hero__background;
	// 		background-image: url("https://live.staticflickr.com/65535/52507486406_1b80fd307b_o.jpg");
	// 		// animation-name: fadeInAndOut4;
	// 	}

	// 	&--5 {
	// 		@extend .hero__background;
	// 		background: {
	// 			image: url("https://live.staticflickr.com/65535/52507002027_e9c653d29c_o.jpg");
	// 			position-x: 70%;
	// 		}
	// 		// animation-name: fadeInAndOut5;
	// 	}

	// 	&--404 {
	// 		@extend .hero__background;
	// 		background: {
	// 			image: url("https://live.staticflickr.com/65535/52506996562_f95be15062_o.jpg");
	// 			position-x: 20%;
	// 		}
	// 		animation: {
	// 			// name: fadeIn;
	// 			duration: 2s;
	// 		}
	// 	}
	// }

	// &__backFilter {
	// 	width: inherit;
	// 	height: inherit;
	// 	backdrop-filter: brightness(50%);
	// 	background: {
	// 		image: linear-gradient(
	// 			to top,
	// 			rgba(16, 26, 18, 1) 4%,
	// 			rgba(16, 26, 18, 0.3) 20%
	// 		);
	// 		color: rgba(16, 26, 18, 0);
	// 	}
	// 	transition: {
	// 		property: background-color;
	// 		duration: 0.5s;
	// 	}
	// }

	&__title {
		// @include revealOnLoad;
		// animation-delay: 1s;
		
		// color: $color-8;
		// width: 100%;
		// letter-spacing: 0.125rem;

		
		// 	@extend .hero__title;

		// 	@media screen {
		// 		@media #{$portrait} {
		// 			// @include fluidContent(font-size, 2.5rem, 5.625, 2.5, 100vw);
		// 			// @include fluidContent(line-height, 2.5rem, 5.625, 2.5, 100vw);

		// 			@media #{$mq-w1080-up} {
		// 				font-size: 5.625rem;
		// 				line-height: 5.625rem;
		// 			}
		// 		}

		// 		@media #{$landscape} {
		// 			// @include fluidContent(font-size, 2rem, 6.25, 2, 100vh);
		// 			// @include fluidContent(line-height, 2rem, 6.25, 2, 100vh);

		// 			@media #{$mq-h1080-up} {
		// 				font-size: 6.25rem;
		// 				line-height: 6.25rem;
		// 			}
		// 		}
		// 	}
		}

		// &--gallery {
		// 	@extend .hero__title;

		// 	@media screen {
		// 		@media #{$portrait} {
		// 			// @include fluidContent(font-size, 2.5rem, 5.625, 2.5, 100vw);
		// 			// @include fluidContent(letter-spacing, 0.3125rem, 0.9375, 0.3125, 100vw);

		// 			@media #{$mq-w1080-up} {
		// 				font-size: 5.625rem;
		// 				letter-spacing: 0.9375rem;
		// 			}
		// 		}

		// 		@media #{$landscape} {
		// 			// @include fluidContent(font-size, 2rem, 6.25, 2, 100vh);
		// 			// @include fluidContent(letter-spacing, 0.3125rem, 0.9375, 0.3125, 100vh);

		// 			@media #{$mq-h1080-up} {
		// 				font-size: 6.25rem;
		// 				letter-spacing: 0.9375rem;
		// 			}
		// 		}
		// 	}
		// }

		// &--portfolio {
		// 	@extend .hero__title--gallery;
		// }

		// &--404 {
		// 	@extend .hero__title;

		// 	@media screen {
		// 		@media #{$portrait} {
		// 			// @include fluidContent(font-size, 2.1875rem, 5.625, 2.1875, 100vw);

		// 			@media #{$mq-w1080-up} {
		// 				font-size: 5.625rem;
		// 			}
		// 		}

		// 		@media #{$landscape} {
		// 			// @include fluidContent(font-size, 1.6875rem, 5.625, 1.6875, 100vh);

		// 			@media #{$mq-h1080-up} {
		// 				font-size: 5.625rem;
		// 			}
		// 		}
		// 	}
		// }

	.hideHeroBackground {
		background-color: rgba(16, 26, 18, 1);
	}
}
