/* MENU */

@use "../../scss/variables" as variables;

.menu {
	&__list {
		display: flex;
		column-gap: 4rem;
	}

	&__link {
		position: relative;
		font-family: var(--raleway);
		font-size: 2.5rem;
		text-transform: uppercase;

		&:hover .svg__navigation--hover, &.active .svg__navigation--active {
			position: absolute;
			left: 50%;
			display: flow;
			transform: translateX(-50%);
		}

		&:hover {
			.svg__navigation--hover {
				bottom: -1rem;
				z-index: -1;
				height: 1rem;
			}
		}

		&.active {
			.svg__navigation--active {
				top: calc(-50% - 1.5rem);
				z-index: -2;
				width: 8.6rem;
				height: 8.5rem;
			}
		}
	}

	&__background {
		position: absolute;
		top: -0.3rem;
		right: -2rem;
		z-index: -3;
		height: 8rem;
		filter: drop-shadow(0 1rem 1.5rem rgba(var(--color-black), 0.5));

		path {
			fill: rgb(var(--color-primary-200));
		}
	}
}


// @media screen {
// 	@media #{variables.$hover} {
// 		.menu__link:hover .menu__hoverEffect path {
// 			fill: rgb(var(--color-secondary-100));
// 		}
// 	}
// }
