/* MENU */

@use "../../scss/variables" as variables;

.menu {
	&__list {
		display: flex;
		column-gap: 4rem;
	}

	&__link {
		position: relative;
		font-family: var(--raleway);
		font-size: 2.5rem;
		text-transform: uppercase;

		&.active {
			.menu__activeEffect {
				path {
					fill: rgb(var(--color-primary-400));
				}
			}
		}
	}

	&__hoverEffect, &__activeEffect {
		position: absolute;
		left: 0;
		width: 100%;

		path {
			fill: transparent;
		}
	}

	&__hoverEffect {
		bottom: -1rem;
		z-index: -1;
		height: 1rem;
	}

	&__activeEffect {
		top: calc(-50% - 1.5rem);
		z-index: -2;
		height: 8.5rem;
	}

	&__background {
		position: absolute;
		top: 0;
		right: -2rem;
		z-index: -3;
		height: 8rem;
		filter: drop-shadow(0 1rem 1.5rem rgba(var(--color-black), 0.5));

		path {
			fill: rgb(var(--color-primary-200));
		}
	}
}


@media screen {
	@media #{variables.$hover} {
		.menu__link:hover .menu__hoverEffect path {
			fill: rgb(var(--color-secondary-100));
		}
	}
}
