/* HEADER */
.header {
	position: fixed;
	top: 2rem;
	left: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4rem);
}

.scroll {
	// background-color: rgba(25, 39, 27, 1);
}
