:root {
  --color-primary-100: rgb(22, 39, 25);
  --color-primary-200: rgb(34, 60, 38);
  --color-primary-300: rgb(68, 121, 78);
  --color-primary-400: rgb(91, 162, 104);
  --color-secondary-100: rgb(246, 242, 230);
  --color-rgb-black: 0, 0, 0;
  --krona-one: "Krona One", sans-serif;
  --raleway: "Raleway", sans-serif;
}

/* GLOBAL STYLES */
html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  background-color: var(--color-primary-100);
  color: var(--color-secondary-100);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-secondary-100);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}

.view--hidden {
  opacity: 0;
  transform: translateY(-20px);
}
.view--visible {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity transform;
  transition-duration: 2s;
}

.scrollBlocked {
  overflow-y: hidden;
}

/* HOMEPAGE */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.6875rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6.25rem;
  padding-right: 1.25rem;
  padding-bottom: 6.25rem;
  padding-left: 1.25rem;
}
.homepage__myPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}
@media screen and (orientation: portrait) {
  .homepage__myPhoto {
    max-width: 43.75rem;
  }
}
@media screen and (orientation: landscape) {
  .homepage__myPhoto {
    max-width: 62.5rem;
  }
}
.homepage__introduction {
  margin: 0;
}
@media screen and (orientation: portrait) and (min-width: 67.5rem) {
  .homepage__introduction {
    font-size: 2.5rem;
  }
}
@media screen and (orientation: landscape) and (min-height: 67.5rem) {
  .homepage__introduction {
    font-size: 3.125rem;
  }
}
.homepage__description {
  display: flex;
  flex-direction: column;
  row-gap: 3.125rem;
}
@media screen and (orientation: portrait) {
  .homepage__description {
    max-width: 43.75rem;
  }
}
@media screen and (orientation: landscape) {
  .homepage__description {
    max-width: 62.5rem;
  }
}
.homepage__section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.homepage__title {
  border-left-style: solid;
  border-left-width: 0.3125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  margin: 0;
}
@media screen and (orientation: portrait) and (min-width: 67.5rem) {
  .homepage__title {
    font-size: 2.375rem;
  }
}
@media screen and (orientation: landscape) and (min-height: 67.5rem) {
  .homepage__title {
    font-size: 2.5rem;
  }
}
.homepage__title:after {
  content: ".";
}
.homepage__paragraph {
  margin: 0;
}
@media screen and (orientation: portrait) and (min-width: 67.5rem) {
  .homepage__paragraph {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media screen and (orientation: landscape) and (min-height: 67.5rem) {
  .homepage__paragraph {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

/* HEADER */
.header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
}

/* NAME */
.name {
  position: relative;
}
.name--header {
  font-family: var(--krona-one);
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.name__logo path {
  fill: var(--color-secondary-100);
}
.name__link {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.name__background {
  position: absolute;
  top: 0;
  left: -6rem;
  z-index: -1;
  filter: drop-shadow(0 10px 15px rgba(var(--color-rgb-black), 0.5));
}
.name__background path {
  fill: var(--color-primary-200);
}

/* SVG */
.svg, .svg__error, .svg__loading, .svg__close, .svg__background, .svg__scrollDown, .svg__menu {
  width: 100%;
  height: 100%;
  transform-box: fill-box;
}
@media screen and (orientation: portrait) {
  .svg__background {
    max-width: 31.25rem;
  }
}
@media screen and (orientation: landscape) {
  .svg__background {
    max-width: 37.5rem;
  }
}
.svg__background .background2 {
  fill-opacity: 0.5;
}
.icon, .icon__error, .icon__loading, .icon__loading--innerArc, .icon__loading--outerArc, .icon__close, .icon__chevronBottom, .icon__chevronMiddle, .icon__chevronTop, .icon__hamburgerBottom, .icon__hamburgerBottom--close, .icon__hamburgerMiddle, .icon__hamburgerMiddle--close, .icon__hamburgerTop, .icon__hamburgerTop--close {
  width: 100%;
  height: 100%;
  transform-box: fill-box;
  transform-origin: center center;
}
.icon__hamburgerTop, .icon__hamburgerTop--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerTop--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerMiddle, .icon__hamburgerMiddle--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerMiddle--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerBottom, .icon__hamburgerBottom--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerBottom--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__chevronTop {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.icon__chevronMiddle {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.375s;
}
.icon__chevronBottom {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.625s;
}
.icon__loading, .icon__loading--innerArc, .icon__loading--outerArc {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.icon__loading--outerArc {
  transform-origin: left center;
}
.icon__loading--innerArc {
  transform-origin: right center;
}
/* MENU */
.menu__list {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.menu__link {
  position: relative;
  font-family: var(--raleway);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.menu__link.active .menu__activeEffect path {
  fill: var(--color-primary-400);
}
.menu__hoverEffect, .menu__activeEffect {
  position: absolute;
  left: 0;
  width: 100%;
}
.menu__hoverEffect path, .menu__activeEffect path {
  fill: transparent;
}
.menu__hoverEffect {
  bottom: -1rem;
  z-index: -1;
}
.menu__activeEffect {
  top: calc(-50% - 1.5rem);
  z-index: -2;
}
.menu__background {
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: -3;
  filter: drop-shadow(0 10px 15px rgba(var(--color-rgb-black), 0.5));
}
.menu__background path {
  fill: var(--color-primary-200);
}

@media screen and (hover: hover) {
  .menu__link:hover .menu__hoverEffect path {
    fill: var(--color-secondary-100);
  }
}