:root {
  --color-primary-100: 22, 39, 25;
  --color-primary-200: 34, 60, 38;
  --color-primary-300: 68, 121, 78;
  --color-primary-400: 91, 162, 104;
  --color-primary-500: 182, 206, 186;
  --color-secondary-100: 246, 242, 230;
  --color-black: 0, 0, 0;
  --nunito: "Nunito", sans-serif;
  --krona-one: "Krona One", sans-serif;
  --raleway: "Raleway", sans-serif;
  --jost: "Jost", sans-serif;
  --architects-daughter: "Architects Daughter", sans-serif;
}

/* GLOBAL STYLES */
html {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  font-family: var(--nunito);
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-secondary-100));
}

body, h1, h2, h3, ul, p {
  margin: unset;
}

h2, h3 {
  font-family: var(--architects-daughter);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: rgb(var(--color-secondary-100));
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20rem;
}

.container {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 172rem;
}

.view--hidden {
  opacity: 0;
  transform: translateY(-20px);
}
.view--visible {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity transform;
  transition-duration: 2s;
}

.scrollBlocked {
  overflow-y: hidden;
}

/* HOMEPAGE */
.homepage {
  display: flex;
  align-items: center;
}
.homepage__description {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  row-gap: 15rem;
  width: 70rem;
}
.homepage__introduction {
  font-size: 4rem;
  font-weight: 400;
}
.homepage__presentation {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
}
.homepage__section {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.homepage__title {
  position: relative;
  font-size: 4rem;
  font-weight: 400;
}
.homepage__title:after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-size: 6rem;
  color: rgba(var(--color-primary-200), 0.6);
  transform: translate(-2rem, -0.5rem);
}
.homepage__text {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.homepage__paragraph {
  font-size: 2rem;
}
.homepage__portrait {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}
.homepage__portrait svg {
  transform: translateX(6rem);
}
.homepage__path {
  fill: rgb(var(--color-primary-100));
  fill-opacity: 0.4;
}
.homepage__photo {
  filter: saturate(0);
  background-color: rgba(var(--color-primary-100), 1);
}

/* GALLERY */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
}
.gallery__buttonBackground {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem;
  background-color: rgb(var(--color-primary-200));
  border-radius: 9.6rem;
}
.gallery__buttonBackground:has(.button + .button):before {
  content: "";
  display: flex;
  order: 2;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  background-color: rgb(var(--color-secondary-100));
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 1;
  top: 2rem;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
}

/* NAME */
.name {
  position: relative;
}
.name--header {
  font-family: var(--krona-one);
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.name--footer {
  font-family: var(--krona-one);
  font-size: 10rem;
  text-transform: uppercase;
}
.name__logo {
  width: 7rem;
}
.name__logo path {
  fill: rgb(var(--color-secondary-100));
}
.name__link {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.name__background {
  position: absolute;
  top: 0;
  left: -6rem;
  z-index: -1;
  height: 8rem;
  filter: drop-shadow(0 10px 15px rgba(var(--color-black), 0.5));
}
.name__background path {
  fill: rgb(var(--color-primary-200));
}

/* BUTTON */
.button {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--raleway);
  font-weight: 600;
  color: var(--color-secondary-100);
  margin: unset;
  padding: unset;
  background-color: unset;
  border: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.button__switch:hover, .button__loadMore:hover {
  background-color: rgba(var(--color-primary-400), 0.5);
}
.button__switch:active, .button__loadMore:active {
  background-color: rgb(var(--color-secondary-100));
  color: rgb(var(--color-primary-400));
  box-shadow: unset;
  transform: scale(0.95);
}
.button__switch {
  width: 19.5rem;
  font-size: 2.2rem;
  padding: 2.5rem;
}
.button__switch:first-child {
  order: 1;
}
.button__switch:last-child {
  order: 3;
}
.button__switch.active, .button__switch:hover, .button__switch:active {
  border-radius: 7.6rem;
}
.button__switch.active {
  background-color: rgb(var(--color-primary-400));
}
.button__switch:hover {
  box-shadow: 0 1rem 3rem 0 rgba(var(--color-black), 0.5);
}
.button__loadMore {
  font-size: 2rem;
  padding: 2rem;
}
.button__loadMore:hover, .button__loadMore:active {
  border-radius: 6.4rem;
}
.button__loadMore:hover {
  box-shadow: 0 1rem 2rem 0 rgba(var(--color-black), 0.5);
}

/* SVG */
.svg {
  width: 100%;
  height: 100%;
  transform-box: fill-box;
}
.svg__navigation--hover, .svg__navigation--active {
  display: none;
}
.svg__navigation--hover path {
  fill: rgb(var(--color-secondary-100));
}
.svg__navigation--active path {
  fill: rgb(var(--color-primary-400));
}

/* MENU */
.menu__list {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.menu__link {
  position: relative;
  font-family: var(--raleway);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.menu__link:hover .svg__navigation--hover, .menu__link.active .svg__navigation--active {
  position: absolute;
  left: 50%;
  display: flow;
  transform: translateX(-50%);
}
.menu__link:hover .svg__navigation--hover {
  bottom: -1rem;
  z-index: -1;
  height: 1rem;
}
.menu__link.active .svg__navigation--active {
  top: calc(-50% - 1.5rem);
  z-index: -2;
  width: 8.6rem;
  height: 8.5rem;
}
.menu__background {
  position: absolute;
  top: -0.3rem;
  right: -2rem;
  z-index: -3;
  height: 8rem;
  filter: drop-shadow(0 1rem 1.5rem rgba(var(--color-black), 0.5));
}
.menu__background path {
  fill: rgb(var(--color-primary-200));
}

/* HERO */
.hero {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10rem;
  width: 100%;
  height: 100vh;
}
.hero__mask {
  position: absolute;
  right: 0;
  height: 100%;
}
.hero__presentation {
  position: relative;
  left: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 70rem;
  font-size: 2.5rem;
}
.hero .hideHeroBackground {
  background-color: rgb(16, 26, 18);
}

/* MAIN TITLE */
.mainTitle {
  position: relative;
  left: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 12rem;
  width: 70rem;
}
.mainTitle--gallery {
  text-transform: uppercase;
}
.mainTitle__group--end {
  text-align: end;
}
.mainTitle__title {
  display: block;
  font-family: var(--jost);
  font-size: 9rem;
  line-height: 10rem;
  letter-spacing: 8%;
}
.mainTitle__title--normal {
  font-weight: 300;
}
.mainTitle__title--bold {
  font-weight: 700;
}
.mainTitle__ampersand {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 50rem;
  fill: rgb(var(--color-primary-500));
  fill-opacity: 0.6;
  transform: translate(-50%, -50%);
}

/* SCROLL DOWN */
.scrollDown {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}
.scrollDown__svg {
  width: 3rem;
}
.scrollDown__icon {
  fill: none;
  stroke-width: 0.2rem;
  stroke: rgb(var(--color-secondary-100));
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* CARD */
.card {
  position: relative;
  margin: unset;
}
.card__link {
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* FOOTER */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 7rem;
  width: 100%;
  height: 50rem;
}
.footer__socialNetworks {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15rem;
       column-gap: 15rem;
  width: 100%;
}
.footer__link {
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
.footer__icon {
  width: auto;
  height: 5rem;
}
.footer__creditsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1.25rem;
  padding-bottom: 1.25rem;
}
.footer__credits {
  width: inherit;
  margin: 0;
  text-align: center;
}
.footer__year {
  font-size: 2.5rem;
}
.footer__background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 50rem;
}
.footer__background path {
  fill: rgb(var(--color-primary-200));
}