:root {
  --color-primary-100: 22, 39, 25;
  --color-primary-200: 34, 60, 38;
  --color-primary-300: 68, 121, 78;
  --color-primary-400: 91, 162, 104;
  --color-primary-500: 182, 206, 186;
  --color-secondary-100: 246, 242, 230;
  --color-black: 0, 0, 0;
  --nunito: "Nunito", sans-serif;
  --krona-one: "Krona One", sans-serif;
  --raleway: "Raleway", sans-serif;
  --jost: "Jost", sans-serif;
  --architects-daughter: "Architects Daughter", sans-serif;
}

/* GLOBAL STYLES */
html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--nunito);
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-secondary-100));
}

body, h1, h2, h3, ul, p {
  margin: unset;
}

h2, h3 {
  font-family: var(--architects-daughter);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: rgb(var(--color-secondary-100));
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20rem;
}

.container {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 172rem;
}

.view--hidden {
  opacity: 0;
  transform: translateY(-20px);
}
.view--visible {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity transform;
  transition-duration: 2s;
}

.scrollBlocked {
  overflow-y: hidden;
}

/* HOMEPAGE */
.homepage {
  display: flex;
  align-items: center;
}
.homepage__description {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  row-gap: 15rem;
  width: 70rem;
}
.homepage__introduction {
  font-size: 4rem;
  font-weight: 400;
}
.homepage__presentation {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
}
.homepage__section {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.homepage__title {
  position: relative;
  font-size: 4rem;
  font-weight: 400;
}
.homepage__title:after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-size: 6rem;
  color: rgba(var(--color-primary-200), 0.6);
  transform: translate(-2rem, -0.5rem);
}
.homepage__text {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.homepage__paragraph {
  font-size: 2rem;
}
.homepage__portrait {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}
.homepage__portrait svg {
  transform: translateX(6rem);
}
.homepage__path {
  fill: rgb(var(--color-primary-100));
  fill-opacity: 0.4;
}
.homepage__photo {
  filter: saturate(0);
  background-color: rgba(var(--color-primary-100), 1);
}

/* HEADER */
.header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
}

/* NAME */
.name {
  position: relative;
}
.name--header {
  font-family: var(--krona-one);
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.name__logo {
  width: 7rem;
}
.name__logo path {
  fill: rgb(var(--color-secondary-100));
}
.name__link {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.name__background {
  position: absolute;
  top: 0;
  left: -6rem;
  z-index: -1;
  height: 8rem;
  filter: drop-shadow(0 10px 15px rgba(var(--color-black), 0.5));
}
.name__background path {
  fill: rgb(var(--color-primary-200));
}

/* SVG */
.svg, .svg__error, .svg__loading, .svg__close, .svg__background, .svg__scrollDown, .svg__menu {
  width: 100%;
  height: 100%;
  transform-box: fill-box;
}
.svg__background .background2 {
  fill-opacity: 0.5;
}
.icon, .icon__error, .icon__loading, .icon__loading--innerArc, .icon__loading--outerArc, .icon__close, .icon__chevronBottom, .icon__chevronMiddle, .icon__chevronTop, .icon__hamburgerBottom, .icon__hamburgerBottom--close, .icon__hamburgerMiddle, .icon__hamburgerMiddle--close, .icon__hamburgerTop, .icon__hamburgerTop--close {
  width: 100%;
  height: 100%;
  transform-box: fill-box;
  transform-origin: center center;
}
.icon__hamburgerTop, .icon__hamburgerTop--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerTop--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerMiddle, .icon__hamburgerMiddle--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerMiddle--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerBottom, .icon__hamburgerBottom--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__hamburgerBottom--close {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon__chevronTop {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.icon__chevronMiddle {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.375s;
}
.icon__chevronBottom {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.625s;
}
.icon__loading, .icon__loading--innerArc, .icon__loading--outerArc {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.icon__loading--outerArc {
  transform-origin: left center;
}
.icon__loading--innerArc {
  transform-origin: right center;
}
/* MENU */
.menu__list {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.menu__link {
  position: relative;
  font-family: var(--raleway);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.menu__link.active .menu__activeEffect path {
  fill: rgb(var(--color-primary-400));
}
.menu__hoverEffect, .menu__activeEffect {
  position: absolute;
  left: 0;
  width: 100%;
}
.menu__hoverEffect path, .menu__activeEffect path {
  fill: transparent;
}
.menu__hoverEffect {
  bottom: -1rem;
  z-index: -1;
  height: 1rem;
}
.menu__activeEffect {
  top: calc(-50% - 1.5rem);
  z-index: -2;
  height: 8.5rem;
}
.menu__background {
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: -3;
  height: 8rem;
  filter: drop-shadow(0 1rem 1.5rem rgba(var(--color-black), 0.5));
}
.menu__background path {
  fill: rgb(var(--color-primary-200));
}

@media screen and (hover: hover) {
  .menu__link:hover .menu__hoverEffect path {
    fill: rgb(var(--color-secondary-100));
  }
}
/* HERO */
.hero {
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.hero__mask {
  position: absolute;
  right: 0;
  height: 100%;
}
.hero .hideHeroBackground {
  background-color: rgb(16, 26, 18);
}

/* MAIN TITLE */
.mainTitle {
  position: relative;
  left: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 12rem;
  width: 70rem;
}
.mainTitle__group--end {
  text-align: end;
}
.mainTitle__title {
  display: block;
  font-family: var(--jost);
  font-size: 9rem;
  line-height: 10rem;
  letter-spacing: 8%;
}
.mainTitle__title--normal {
  font-weight: 300;
}
.mainTitle__title--bold {
  font-weight: 700;
}
.mainTitle__ampersand {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 50rem;
  fill: rgb(var(--color-primary-500));
  fill-opacity: 0.6;
  transform: translate(-50%, -50%);
}

/* SCROLL DOWN */
.scrollDown {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
.scrollDown__svg {
  width: 3rem;
}
.scrollDown__icon {
  fill: none;
  stroke-width: 0.2rem;
  stroke: rgb(var(--color-secondary-100));
  stroke-linecap: round;
  stroke-linejoin: round;
}