/* GALLERY */
.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: {
		right: auto;
		left: auto;
	}
	padding: {
		top: 6.25rem;
		right: 1.25rem;
		bottom: 6.25rem;
		left: 1.25rem;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
		row-gap: 0.3125rem;
		column-gap: 0.3125rem;

		@media screen {
			@media #{$portrait} {
				width: fluidContentPortrait(15.625, 50);

				@media #{$mq-w1080-up} {
					width: 50rem;
				}
			}

			@media #{$landscape} {
				width: fluidContentLandscape(25, 87.5);

				@media #{$mq-h1080-up} {
					width: 87.5rem;
				}
			}
		}
	}
}
