// VARIABLES

:root {
	// Colors
	--color-primary-100: 22, 39, 25;
	--color-primary-200: 34, 60, 38;
	--color-primary-300: 68, 121, 78;
	--color-primary-400: 91, 162, 104;
	--color-primary-500: 182, 206, 186;

	--color-secondary-100: 246, 242, 230;

	--color-black: 0, 0, 0;

	// Fonts
	--nunito: "Nunito", sans-serif;
	--krona-one: "Krona One", sans-serif;
	--raleway: "Raleway", sans-serif;
	--jost: "Jost", sans-serif;
	--architects-daughter: "Architects Daughter", sans-serif;
}


// Orientations
$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

// Breakpoints
$bp-400: 25rem;
$bp-600: 37.5rem;
$bp-700: 43.75rem;
$bp-1080: 67.5rem;

// Media queries
$mq-w600-up: "(min-width: #{$bp-600})";
$mq-w700-up: "(min-width: #{$bp-700})";
$mq-w1080-up: "(min-width: #{$bp-1080})";

$mq-h400-up: "(min-height: #{$bp-400})";
$mq-h1080-up: "(min-height: #{$bp-1080})";

$hover: "(hover: hover)";
