/* PORTFOLIO */
.portfolio {
	display: flex;
	justify-content: center;
	padding: {
		top: 6.25rem;
		bottom: 6.25rem;
	}

	&__list {
		display: inherit;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		row-gap: 0.3125rem;
		column-gap: 0.3125rem;

		@media screen {
			@media #{$portrait} {
				width: fluidContentPortrait(15.625, 50);

				@media #{$mq-w1080-up} {
					width: 50rem;
				}
			}

			@media #{$landscape} {
				width: fluidContentLandscape(25, 87.5);

				@media #{$mq-h1080-up} {
					width: 87.5rem;
				}
			}
		}
	}
}
