/* CARDOVERLAY */
.overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 50%;
	bottom: 0;
	transition: {
		property: opacity;
		duration: 0.4s;
	}
	pointer-events: none;

	&--visible {
		@extend .overlay;
		opacity: 1;
	}

	&--hidden {
		@extend .overlay;
		opacity: 0;
	}

	&__title {
		background-color: $color-3;
		box-shadow: -0.1875rem 0.1875rem 0 0 $color-1;
		margin-top: 0;
		font-weight: 400;

		&--photo {
			@extend .overlay__title;

			@media screen {
				@media #{$portrait} {
					margin-bottom: fluidContentPortrait(0.3125, 0.625);
					padding-right: fluidContentPortrait(0.3125, 0.625);
					padding-left: fluidContentPortrait(0.3125, 0.625);
					border-radius: fluidContentPortrait(0.1875, 0.3125);

					@media #{$mq-w1080-up} {
						margin-bottom: 0.625rem;
						padding: {
							right: 0.625rem;
							left: 0.625rem;
						}
						border-radius: 0.3125rem;
					}
				}

				@media #{$landscape} {
					margin-bottom: fluidContentLandscape(0.3125, 1.25);
					padding-right: fluidContentLandscape(0.3125, 0.625);
					padding-left: fluidContentLandscape(0.3125, 0.625);
					border-radius: fluidContentLandscape(0.1875, 0.3125);

					@media #{$mq-h1080-up} {
						margin-bottom: 1.25rem;
						padding: {
							right: 0.625rem;
							left: 0.625rem;
						}
						border-radius: 0.3125rem;
					}
				}
			}
		}

		&--project {
			@extend .overlay__title;

			@media screen {
				@media #{$portrait} {
					font-size: fluidContentPortrait(1.25, 1.75);
					margin-bottom: fluidContentPortrait(0.625, 0.9375);
					border-radius: fluidContentPortrait(0.1875, 0.3125);
					padding-right: fluidContentPortrait(0.3125, 0.625);
					padding-left: fluidContentPortrait(0.3125, 0.625);

					@media #{$mq-w1080-up} {
						font-size: 1.75rem;
						margin-bottom: 0.9375rem;
						border-radius: 0.3125rem;
						padding: {
							right: 0.625rem;
							left: 0.625rem;
						}
					}
				}

				@media #{$landscape} {
					font-size: fluidContentLandscape(1.125, 1.875);
					margin-bottom: fluidContentLandscape(0.625, 1.875);
					padding-right: fluidContentLandscape(0.3125, 0.625);
					padding-left: fluidContentLandscape(0.3125, 0.625);
					border-radius: fluidContentLandscape(0.1875, 0.3125);

					@media #{$mq-h1080-up} {
						font-size: 1.875rem;
						margin-bottom: 1.875rem;
						padding: {
							right: 0.625rem;
							left: 0.625rem;
						}
						border-radius: 0.3125rem;
					}
				}
			}
		}
	}

	&__subject {
		text-transform: uppercase;

		@media screen {
			@media #{$portrait} {
				font-size: fluidContentPortrait(1, 1.5);

				@media #{$mq-w1080-up} {
					font-size: 1.5rem;
				}
			}

			@media #{$landscape} {
				font-size: fluidContentLandscape(0.8125, 1.75);

				@media #{$mq-h1080-up} {
					font-size: 1.75rem;
				}
			}
		}
	}

	&__city {
		color: $color-6;

		@media screen {
			@media #{$portrait} {
				font-size: fluidContentPortrait(0.875, 1.25);

				@media #{$mq-w1080-up} {
					font-size: 1.25rem;
				}
			}

			@media #{$landscape} {
				font-size: fluidContentLandscape(0.625, 1.25);

				@media #{$mq-h1080-up} {
					font-size: 1.25rem;
				}
			}
		}
	}

	&__country {
		@extend .overlay__city;
	}
}
